#root {
  color: red;
}

p {
  font-size: 1rem;
}

section {
  display: flex;
  width: 95vw;
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  flex-flow: row wrap;
  background-color: grey;
  position: relative;
}

div {
  width: 100%;
  background-color: aqua;
}

section div {
  width: 45%;
  min-width: 33%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin: 0.5rem;
}

div div {
  background-color: rgb(220, 225, 229);
  border: 2px solid coral;
}
div div img {
  width: 100%;
}
